ELASTIC_URL=url-base-to-elasticsearch
ELASTIC_PORT=9200
ELASTIC_USER=elasticsearch-userid
ELASTIC_PW=elasticsearch-password
ELASTIC_INDEX_NAME=dsw-dmps-test

DSW_BASE_URL=https://dsw-staging.ita.chalmers.se
DSW_API_KEY=dsw-api-key

LOGFILE=dsw2es.log
